<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
</head>
<body>
	<header>
		<div class="main">
            <div class="logo">
                    <img src="{% static 'images/logo1.jpg'%}">
            </div>
            <ul>
                <li class="active"><a href="http://127.0.0.1:8000/">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>

		<div class="title">
			<h1>Smart File Security System</h1>
		</div>

		<div class="button">
			<a class="btn" href="{% url 'signinview' %}">SIGN IN</a>
			<a class="btn" href="{% url 'signupview' %}">REGISTER</a>
		</div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Your are Registered Successfully...</p>
            </div>
        </div>
	</header>


    <script>
        var modal = document.getElementById('myModal');
        var span = document.getElementsByClassName("close")[0];
        function myFunction() {
            window.setTimeout(function() {
                window.location = "http://127.0.0.1:8000/"; },2000);
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        {% if mess %}
            myFunction();
        {% endif %}

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>
</html>