{% include 'common/top.html' %}
{% load static %}
    <!--Breadcrumb Start-->
    <section id="breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="active">My Profile</li>
        </ol>
      </div>
    </section>
    <!--Breadcrumb End-->

    <section id="main">
      <div class="container">
        <div class="row">

            {% include 'common/left.html' %}

          <div class="col-md-9">
              <!-- File List -->
              <div class="panel panel-default">
                <div class="panel-heading main-color-bg">
                  <h3 class="panel-title ">My Profile</h3>
                </div>
                <div class="panel-body">
                      <!-- Content Wrapper. Contains page content -->
 
    <!-- Main content -->
    <section class="content">
       <div class="row">
           <div class="col-md-1"></div>
            <div class="col-md-10">

          <!-- Profile Image -->
          <div class="box box-info">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="{% static 'img/icon-user.png' %}" alt="User profile picture">

              <h3 class="profile-username text-center">{{ username}}</h3>

               <form class="form-horizontal" method="post"> {% csrf_token %}
                  <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 control-label">Username</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" placeholder="Username" name="user" value="{{ username }}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">First Name</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" placeholder="First Name" name="fname" value="{{ fname }}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Last Name</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" placeholder="Last Name" name="lname" value="{{ lname }}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" value="{{ email }}">
                    </div>
                  </div>
                  
                  <input type="submit" class="btn btn-primary btn-block" value="Submit">
                </form>

            </div>
            <!-- /.box-body -->
          </div>
        </div>
       </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    {% if messages %}
        <script>
            function myFunction() {
                {% for message in messages %}
                      alert("{{ message }}");
                {% endfor %}
            }
            myFunction()
        </script>
    {% endif %}


{% include 'common/foot.html' %}
